@model CrowdfundingWebsites.Models.ViewModels.CategoryVm

@{
    ViewBag.Title = "類別";
}

<div id="SearchContainer" class="container mt-3" style="">
    <div class="row">

        <div class="d-flex mb-3 col-md-4 px-5 justify-content-center">
            <label for="inputEmail3" class="col-form-label ">清單類型</label>
            <div class="ps-0 ms-2">
                @Html.DropDownListFor(model => model.Type, (SelectList)ViewBag.Types, new { @class = "form-select shadow-none", @id = "typesDDL" })
            </div>
        </div>
        <div class="d-flex mb-3 col-md-4">
            <div class="col-md ps-0">
                <input id="search-Value" type="search" class="form-control shadow-none" placeholder="搜尋">
            </div>
            <button id="search-btn" type="button" class="btn btn-outline-primary ms-2">搜尋</button>
        </div>

        <div class="d-flex mb-3 col-md-4 justify-content-center">
            <button id="addCategory" type="button" class="btn btn-outline-primary">新增項目</button>
        </div>

    </div>
    <div class="row">

    </div>

</div>
<div id="dt-container" class="mt-1 table">
    <div class="table-responsive">
        <table id="dTable" class="table table-bordered table-hover" style="width:100%">
            <thead class="bs-table-secondary">

            </thead>
            <tbody>

            </tbody>


        </table>
    </div>
</div>

<script src="~/js/WebContents_category.js"></script>


