<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bs-c-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">找不到此頁面</h1>
                <p class="mb-4">
                    很抱歉，您所尋找的頁面在我們的網站上不存在！</br>
                    也許可以訪問我們的主頁或嘗試使用搜尋？
                </p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="~/Home/Login">前往登入頁</a>
            </div>
        </div>
    </div>
    
</body>
</html>
