
@{
    ViewBag.Title = "ConfirmCompanyResetPassword";
}

@Styles.Render("~/Content/css")

<h4>重設密碼確認</h4>
<div class="alert alert-success">
    恭喜您已成功更新密碼，您可用新密碼登入本站
    請點擊<a href="@Url.Action("CompanyLogin","Companies")">此處</a>進行登入
</div>


