
@{
    ViewBag.Title = "ForgetCompanyPasswordConfirm";
}

@Styles.Render("~/Content/css")

<div class="alert alert-success">
    已收到您的重設密碼申請，請到信箱收信並重設密碼，謝謝!
    <br>
    請點擊<a href="@Url.Action("CompanyLogin","Companies")">此處</a>後，回到登入畫面！
</div>