@{
    Layout = null;
    ViewBag.Title = "重設密碼 | 沐沐 : 募資平台";
    var message = "已收到申請，請至Email點選驗證信重設密碼，謝謝!";
}


<!DOCTYPE html>
<html>
<head>
    <title>成功</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <h4>@message</h4>
    <span class="mt-1 mx-3">
        <a id="Link" href="/Member/Login"></a>
    </span>

    <script>

        function getMsg(val) {
            return `再${val}秒自動跳轉至登入畫面`;
        }

        document.addEventListener('DOMContentLoaded', function () {
            let count = 10;
            let element = document.getElementById("Link");
            element.innerText = getMsg(count--);
            let timer = setInterval(function () {
                element.innerText = getMsg(count--);
                if (count < 0) {
                    clearInterval(timer);
                    window.location.href = '/Member/Login';
                }
            }, 1000); // 1000毫秒 = 1秒

        })
    </script>
</body>
</html>