<!--Member/OrderRecord贊助紀錄-->>

<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link " href="/Member/EditProfile/">帳號設定</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/Member/Follow/">追蹤紀錄</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/Member/Order/">贊助紀錄</a>
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/Member/EditPassword/">修改密碼</a>
</nav>
<br />
<h3>贊助紀錄</h3>
<div>
    <div class="card mb-3 mx-auto" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="..." class="img-fluid rounded-start" alt="專案圖片">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">專案標題</h5>
                    <p class="card-text"><small class="text-muted">專案開始時間</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
