<!--Member/OrderItemRecord贊助明細(OrderRecord檢視按鈕進入)-->
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link " href="/Member/EditProfile/">帳號設定</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/Member/Follow/">追蹤紀錄</a>
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/Member/Order/">贊助紀錄</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/Member/EditPassword/">修改密碼</a>
</nav>
<br />
<h3>贊助紀錄</h3>
<div>

</div>
