* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wapper {
    width: 100%;
    height: auto;
    background: #fff;
    display: flex;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem !important;
}

.left-form {
    height: 100vh;
    width: 65vw;
    float: left;
    overflow: hidden;
    background: #fff;
    display: none;
}

    .left-form .img {
        overflow: hidden;
        bottom: 0;
        left: 0;
    }



.right-form {
    height: auto;
    width: 35vw;
    margin: 0;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 10px 20px;
    flex-wrap: nowrap;
    flex: 1;
}

    .right-form .form-horizontal {
        height: auto;
        width: auto;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }

.logo {
    width: 155px;
    height: 88px;
}

.sign {
    width: 100%;
    padding: 0 10px 10px 10px;
}

.sign .form-group {
    
    margin-bottom: 10px;
}

.form-group .control-label {
    flex: 1;
    color: #333;
    float: left;
    white-space: nowrap;
}

@media (min-width:920px) {
    .left-form {
        display: block;
    }

    .sign {
        max-width: 300px !important;
        width: 100%;
    }
}
